span.underdot {
	border-bottom: dotted 2px #87bffa;
}

div#header  {
	border-bottom: 1px solid #eaecef;
	position: relative;
}
div#header h1#my_name {
	position: absolute;
	bottom: 0;
	float: left;
	border-style: none;
}

div#header #header_right {
    float: right;
    text-align: right;
}
