[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bibtexparser = "==1.2.0"

[requires]
python_version = "3.8"

[scripts]
update = "bash -c 'python3 make.py && git add docs/*.md *.bib *.md && git commit -m page_update && git push'"
